
//    Font Family

$primary-font	: 'Noto Sans', 'Roboto','Lato Light', 'Montserrat', sans-serif;

// --------------------------- Color variations ----------------------

$primary-color	: #ff1010;
$primary-color2	: #974fff;
$title-color	: #1e283c;
$text-color		: #50668f;
$aquablue-color : #edf6ff;
$special-color: #b01ec0;

$white			: #fff;
$offwhite		: #f2f5fa;
$black			: #222;