
    <!-- start footer Area -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-footer-widget">
                        <h4>{{ site.footer_title }}</h4>
                        <p>
                            {{ site.footer_description }}
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-6 col-md-6">
                    <div class="single-footer-widget">
                        <h4>Follow Us</h4>
                        <ul class="social-icons" style="font-size: 110px;text-align: center;">
                            <li>
                                <a href="{{ site.footer_telegram_link }}" class="social-icon">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.footer_twitter_link }}" class="social-icon">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ site.footer_linkedin_link }}"  class="social-icon">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-bottom row justify-content-center mt-70">
                <p class="footer-text m-0 col-lg-6 col-md-12">{{ site.copyright_text }}
                    <a href="{{ site.company_url }}">{{ site.name }}</a>
                </p>
            </div>
        </div>
    </footer>
    <!-- End footer Area -->
