    <!-- Start brands-trusted section -->
    <section class="brands-section pt-70">
        <div class="container">
            <div class="row justify-content-center brand-wrap">
                <div class="col-lg-12 text-center row-header">
                    <h1><b>{{ site.bands_title }}</b></h1>
                </div>
                
               {% for carusel in site.bands_slider %}
               <div class="col-md-6 text-center img-hover" style="padding:32px;">
                    <a href="{{ carusel['link'] }}">
                        <img class="img-fluid img-zoom" alt="{{ carusel['tip']}}" src="{{ carusel['image'] | relative_url }}" alt="">
                    </a>
                </div>
               {% endfor %}
            </div>
        </div>
    </section>
    <!-- End brands-trusted section -->
