
    <!-- Start hero-section -->
    <section class="hero-section relative">
        <div class="container">
            <div class="row fullscreen align-items-center relative">
                <div class="col-lg-6 content-wrap">
                    <h1>
                        {{ site.intro_name }}
                    </h1>
                    <p class="pt-20 pb-20 mw-510">
                        {{ site.intro_text }}
                    </p>
                    <a href="{{ site.intro_btn_one_link | absolute_url }}" class="genric-btn2">
                        {{ site.intro_btn_one_text }}
                    </a>
                </div>

                <div class="col-lg-6">
                    <img class="hero-img4" src="{{ site.intro_image }}" alt="">
                </div>
               
            </div>
            
        </div>
    </section>
    <!-- End hero-section -->
